.user-panel {
  position: relative;
  padding: 40px 10px 20px;
  background-color: #2f588c;
  &::before {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: auto;
    width: 202px;
    height: 15px;
    background: url('/img/bubble-blue.png');
    background-repeat: no-repeat;
    background-size: 202px 15px;
  }

  &__greeting {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  &__add-btn {

  }
}
