.edit-feed-page {
  padding: 0 40px;
  margin-top: 40px;
  &__title {
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }

  &__form {
    button:nth-last-child(1) {
      margin-left: 20px;
    }
  }

  &__input {
    margin-bottom: 40px;
  }

}