.logo {
  color: #4e4e4e;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  &--theme_normal {
    span {
      color: #3d70b2;
    }
  }
  &--theme_inverse {
    span {
      color: #ffffff;
    }
  }
}
