.feeds-page {
  background-color: #3d70b2;
  padding-bottom: 40px;

  &__new-feed-btn {
    position: fixed;
    bottom: 96px;
    right: 20px;
  }

  &__new-feed-icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    fill: #2f588c;
  }

  &__feeds-container {
    padding: 0 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px 20px;
  }

  &__remove-modal-buttons {
    text-align: center;
    button:nth-child(1) {
      margin-right: 20px;
    }
  }
}