.round-button {
  height: 80px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #30588c;
  background-color: #ffffff;
  color: #3d70b2;
  transition: box-shadow .6s;
  cursor: pointer;
  font-weight: bold;
  svg {
    transition: fill .8s linear;
  }
  &:hover {
    background-color: transparent;
    svg {
      fill: #ffffff!important;
    }
    color: #ffffff;
    box-shadow: 0 0 0 50px #30588c inset;
  }
}
