.header {
  $this: &;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  &::before {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: auto;
    width: 202px;
    height: 15px;
    background: url('/img/bubble-white.png');
    background-repeat: no-repeat;
    background-size: 202px 15px;
  }
  &--theme_dark {
    background-color: #3d70b2;
    &::before {
      background: url('/img/bubble-blue.png');
      background-repeat: no-repeat;
      background-size: 202px 15px;
    }
    #{$this}__back-home {
      &-icon {
        fill: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
    #{$this}__logo {
      color: #4e4e4e;
      span {
        color: #ffffff;
      }
    }
    #{$this}__user-name {
      color: #ffffff;
    }
  }

  &__back-home {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 10px;
      width: 28px;
      height: 28px;
      fill: #2f588c;
    }
    span {
      font-size: 16px;
      color: #222222;
      font-weight: 500;
    }
  }

  &__logo {
    text-align: center;
    flex: 1 1 auto;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4e4e4e;
    user-select: none;
    span {
      color: #3d70b2;
    }
  }

  &__auth {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

  &__user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__user-name {
    margin-right: 20px;
    font-weight: 500;
    color: #222222;
  }
}