.layout {
  &__header {
    z-index: 2;
    position: fixed;
    height: 95px;
    top: 0;
    left: 0;
  }

  &__content {
    min-height: 100vh;
    padding: 130px 10px 20px;
    margin: 0 10px;
    background-color: #3d70b2;
  }
}
