$header-height: 95px;

.layout {
  &__header {
    z-index: 2;
    position: fixed;
    height: $header-height;
    top: 0;
    left: 0;
  }

  &__content {
    min-height: 100vh;
    padding: $header-height 0 20px;
    margin: 0 10px;
    background-color: #3d70b2;
  }
}
