.login-page {

  &__card, &__logo, &__login, &__form {
    margin-bottom: 20px;
  }

  &__form {
    text-align: center;
    a {
      margin-left: 20px;
    }
  }

  &__password {
    margin-bottom: 40px;
  }

  &__register {
    display: block;
    text-align: right;
  }

  &__google-sign-in {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    &:focus {
      text-decoration: underline;
      outline: none;
    }
    span {
      margin-right: 20px;
    }
    &-icon {
      height: 20px;
      width: 20px;
    }
  }
}